/* Defaults */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Defauly Spacing */
body,
#calculator,
#keypad,
.row {
    display: flex;
    gap: 10px;
}

/* Default Sizing */
#display,
button {
    height: 40px;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    flex-direction: column;
    padding: 10px;
}

#display {
    align-content: center;
    padding: 10px;
}

#keypad {
    flex-direction: column;
}

button {
    aspect-ratio: 1 / 1;
    font-size: large;
}

/* Default Styling */
#display,
button,
#calculator {
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 8px;
    box-shadow:
        inset 0px -2px 1px rgba(0, 0, 0, 0.2),
        inset 0px 2px 1px rgba(255, 255, 255, 0.5);
}

button:hover {
    background-color: #e4e4e4;
}

button:active {
    background-color: #f5f5f5;
}